garminconnect
gpxpy==1.6.2
polyline
sqlalchemy
geopy
lxml
rich
tcxreader
fit-tool
garmin-fit-sdk
s2sphere
colour>=0.1.5
haversine==2.8.0
pytz
tzfpy; platform_system != "Windows"
timezonefinder; platform_system == "Windows"
